/alacritty                  
/google-chrome   
nitrogen
 autostart                  
 gtk-2.0         
 nvim
/burn-my-windows            
/chromium  
/nvim.bak
/cef_user_data              
/flameshot
/Flavio Tordini
/hack            
 polybar
/Code    
/nautilus   
/polybar.old
/create-next-app-nodejs     
/ibus            
/pulse
/dconf                      
/ibus-bamboo     
/QtProject.conf
/enchant                    
/JetBrains       
rofi
/eog                                 
/rofi.hysue202
/evolution                  
/libreoffice     
/spicetify/
 flameshot                  
/menus           
/spotify
/'Flavio Tordini'            
/mimeapps.list   
/sublime-text
gedit                      
/monitors.xml    
/update-notifier
/gnome-control-center       
/monitors.xml~   
/ser-dirs.dirs
/gnome-initial-setup-done           
/user-dirs.locale
/gnome-session                      
/yelp
/QtProject.conf
/gnome-initial-setup-done
/pavucontrol.ini
/user-dirs.dirs
/.gsd-keyboard.settings-ported